.sidebar{
    background-color: #009688;
    width:280px;
    
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover{
    background-color:white;
}
.sidebar li a{
    text-decoration: none;
    color: white;
}
.sidebar li:hover a{
    color:red;
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}