.designForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin-top: 5%;
}
.submitBtn{
    width:400px;
    height:40px;
    border: none;
    outline: none;
}
.submitBtn:hover{
    background-color: red;
}